<body>
    <div class="box">
        <br><br><br><br>
        <h1>ABM Northwind</h1>
        <p>Consumiendo WebApi de .NET</p>
        <p>Las API son mecanismos que permiten a dos componentes de software comunicarse entre sí mediante un conjunto de definiciones y protocolos.</p>
        <p>API significa “interfaz de programación de aplicaciones”. En el contexto de las API, la palabra aplicación se refiere a cualquier software con</p>
        <p>una función distinta. La interfaz puede considerarse como un contrato de servicio entre dos aplicaciones. Este contrato define cómo se comunican entre sí mediante solicitudes y respuestas.</p>
        <p>A continuación, podés probar el ABM de la tabla 'Empleados':</p>
        <br>
        <button routerLink="/empleados" class="btn btn-primary btn-lg btn-block" style="background-color: #EEE3CB;color:#5c524f;border-color: #5c524f;">Testear</button>
    </div>
</body>
