@{
    ViewBag.Title = "Home Page";
}
<header>
    <link rel="stylesheet" type="text/css" href="~/PersonalizedCss/HomeStyle.css" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Josefin+Sans" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</header>
<body>
    <h1>Gestor de datos de NorthWind</h1>
    <div class="bigbox">
        <div class="bigcard">
            <h5>¿Qué es un ABM?</h5><br />
            <div class="bigpra">
                <p>La abreviatura ABM (Alta, Baja y Modificación) es un término muy utilizado en el mundo informático para hacer referencia a formularios que permiten insertar, borrar y modificar registros en una tabla de una base de datos.</p>
                <br />
                <br /><p>A continuación, podés testear cuatro tablas de la base de datos de NorthWind:</p>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="card">
            <i class="fa-solid fa-users"></i>
            <h5>Empleados</h5>
            <div class="pra">
                <p>ABM de la tabla empleados</p>
                <p style="text-align:center;">
                    <br />
                    <a class="button" href="~/Employees/Index">Testear</a>
                </p>
            </div>
        </div>
        <div class="card">
            <i class="fa-solid fa-handshake"></i>
            <h5>Customers</h5>
            <div class="pra">
                <p>ABM de la tabla customers</p>
                <p style="text-align:center;">
                    <br />
                    <a class="button" href="~/Customers/Index">Testear</a>
                </p>
            </div>
        </div>
        <div class="card">
            <i class="fa-solid fa-list"></i>
            <h5>Categories</h5>
            <div class="pra">
                <p>ABM de la tabla categorías</p>
                <p style="text-align:center;">
                    <br />
                    <a class="button" href="~/Categories/Index">Testear</a>
                </p>
            </div>
        </div>
        <div class="card">
            <i class="fa-solid fa-truck-fast"></i>
            <h5>Shippers</h5>
            <div class="pra">
                <p>ABM de la tabla shippers</p>
                <p style="text-align:center;">
                    <br />
                    <br /><a class="button" href="~/Shippers/Index">Testear</a>
                </p>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="card">
            <i class="fa-solid fa-circle-exclamation"></i>
            <h5>Nueva implementación</h5>
            <div class="pra">
                <p>Api CatFacts!</p>
                <p style="text-align:center;">
                    <br />
                    <a class="button" href="~/Api/Index">Testear</a>
                </p>
            </div>
        </div>
    </div>
</body>

